RewriteEngine on
RewriteRule ^principal$ principal.php
RewriteRule ^validar$ validar.php
RewriteRule ^detalle$ detalle.php
RewriteRule ^detalle/(.+)$ detalle.php?idProducto=$1
RewriteRule ^confirmar$ confirmar.php
RewriteRule ^validar$ validar.php
RewriteRule ^verCarrito$ verCarrito.php
RewriteRule ^verCarrito/(.+)$ verCarrito.php?idProducto=$1
RewriteRule ^registro$ registro.php

RewriteRule ^cliente/(.+)/(.+)/(.+)/(.+)/(.+)$ cliente.php?dniCliente=$1&$2=$3&$4=$5
RewriteRule ^cliente/(.+)$ cliente.php?dniCliente=$1
