body{
	font-family: sans-serif;
	font-size: 11px;
}

table tr td~td{
	background-color: #CAD0D7;
}
table{
	background-color: #737A82;
	text-align: center;
	border-collapse: collapse;
}
td{
	width: 150px;
}
.dwc{
    background-color: red;
}
.diw{
	background-color: green;
}

.dws{
	background-color: rgb(0, 204, 255);
}

.daw{
	background-color: purple;
}

.tutoria{
	background-color: white;
}

.eie{
	background-color: orange;
}

.ingles{
	background-color: yellow;
}

img{
	width: 70px; 
	height: 40px;
}

.diw span:first-child{
	display: block;
	text-align: center;
	color: black;
	font-family: sans-serif;
}
.diw span:nth-last-child(){
	display: block;
	text-align: center;
	color: black;
	font-family: Arial;
}
.dwc span:first-child{
	display: block;
	text-align: center;
	color: black;
	font-family: sans-serif;
}

.dwc span:nth-last-child(){
	display: block;
	text-align: center;
	color: black;
	font-family: Arial;
}
.daw span:first-child{
	display: block;
	text-align: center;
	color: black;
	font-family: sans-serif;
}

.daw span:nth-last-child(){
	display: block;
	text-align: center;
	color: black;
	font-family: Arial;
}
.ingles span:first-child{
	display: block;
	text-align: center;
	color: black;
	font-family: sans-serif;
}

.ingles span:nth-last-child(){
	display: block;
	text-align: center;
	color: black;
	font-family: Arial;
}
.dws span:first-child{
	display: block;
	text-align: center;
	color: black;
	font-family: sans-serif;
}

.dws span:nth-last-child(){
	display: block;
	text-align: center;
	color: black;
	font-family: Arial;
}
.eie span:first-child{
	display: block;
	text-align: center;
	color: black;
	font-family: sans-serif;
}

.eie span:nth-last-child(){
	display: block;
	text-align: center;
	color: black;
	font-family: Arial;
}

td:hover > div {
	visibility: visible;
}
div {
	display: block;
	text-align: center;
	color:black;
	visibility: hidden;
}
a:hover { 
	text-decoration: none; 
	color: #FFF;
	
  }
  a:visited, a:link {
	color: black;
	font-weight: bold;
	text-decoration:none
  }