body{
	font-family: sans-serif;
	font-size: 11px;
}

table tr td~td{
	background-color: #CAD0D7;
}
table{
	background-color: #737A82;
	text-align: center;
	border-collapse: collapse;
}
td{
	width: 150px;
}
.dwc{
    background-color: red;
}
.diw{
	background-color: green;
}

.dws{
	background-color: blue;
}

.daw{
	background-color: purple;
}

.tutoria{
	background-color: white;
}

.eie{
	background-color: orange;
}

.ingles{
	background-color: yellow;
}

img{
	width: 70px; 
	height: 40px;
}

/* pruebas a partir de aqui */ 
.diw span:first-child{
	display: block;
	text-align: center;
	color: black;
	font-family: sans-serif;
}
.diw span:nth-last-child(){
	display: block;
	text-align: center;
	color: black;
	font-family: Arial;
}
.dwc span:first-child{
	display: block;
	text-align: center;
	color: black;
	font-family: sans-serif;
}

.dwc span:nth-last-child(){
	display: block;
	text-align: center;
	color: black;
	font-family: Arial;
}

td:hover > div {
	visibility: visible;
}
div {
	display: block;
	text-align: center;
	color: #800000;
	visibility: hidden;
}
a:hover { 
	text-decoration: none; 
	background-color: #CC0000;
	color: #FFF;
  }
  a:visited {
	color: #CCC;
  }